<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<div>
    {% if heading_title and display_title %}
        {% if add_span %}
            <h2 class="{{ hclass }}"><span>{{ heading_title }}</span></h2>
        {% else %}
            <h2>{{ heading_title }}</h2>
        {% endif %}
    {% endif %}


    <div class="slider">
        {% for banner in banners %}
            <div><img src="{{ banner.image }}"></div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.slider').bxSlider({
            auto: 'true',
            mode: 'fade',
            captions: true
        });
    });
</script>